<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="JuisCheck.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="JuisCheck.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="JUISSoapBinding"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://jws.avm.de:80/Jason/UpdateInfoService" binding="basicHttpBinding" bindingConfiguration="JUISSoapBinding" contract="JUIS.UpdateInfoService" name="UpdateInfoServicePort"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup><userSettings>
        <JuisCheck.Properties.Settings>
            <setting name="AutoLoad" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoLoadFile" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultAnnex" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultCountry" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultDataGridColumnVisibleCountry" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultDataGridColumnVisibleDeviceAddress" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultDataGridColumnVisibleFirmware" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultDataGridColumnVisibleFirmwareBuildType"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultDataGridColumnVisibleHardware" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultDataGridColumnVisibleLanguage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultDataGridColumnVisibleOEM" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultDataGridColumnVisibleProductName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultDataGridColumnVisibleUpdateFileName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultDataGridColumnVisibleUpdateInfo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultDataGridColumnVisibleUpdateLastChecked"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultFirmwareBuildType" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="DefaultLanguage" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultOEM" serializeAs="String">
                <value />
            </setting>
            <setting name="JuisReleaseShowBuildNumber" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastDocumentDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="LastDownloadDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="MainWindowHeight" serializeAs="String">
                <value>NaN</value>
            </setting>
            <setting name="MainWindowLeft" serializeAs="String">
                <value>NaN</value>
            </setting>
            <setting name="MainWindowMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MainWindowRestoreMetrics" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainWindowTop" serializeAs="String">
                <value>NaN</value>
            </setting>
            <setting name="MainWindowWidth" serializeAs="String">
                <value>NaN</value>
            </setting>
            <setting name="RecentFiles" serializeAs="String">
                <value />
            </setting>
            <setting name="RecentFilesMax" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SettingsUpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UserInterfaceLanguage" serializeAs="String">
                <value>auto</value>
            </setting>
            <setting name="DefaultDataGridColumnVisibleMasterBase" serializeAs="String">
                <value>False</value>
            </setting>
        </JuisCheck.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <JuisCheck.Properties.Settings>
            <setting name="AvmCatiServiceURL" serializeAs="String">
                <value>http://jws.avm.de/cgi-bin/cati</value>
            </setting>
            <setting name="AvmJuisServiceURL" serializeAs="String">
                <value>http://jws.avm.de:80/Jason/UpdateInfoService</value>
            </setting>
        </JuisCheck.Properties.Settings>
    </applicationSettings>
</configuration>
